@import "../../app.component.scss";

#app-default {
  display: flex;

  h2 {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 24px 0 24px 2px;
    color: goldenrod;
  }

  .loading {
    position: relative;
  }

  ul.list-countries {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
  
    li {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      transition: background-color .2s ease, border-color .2s ease;
      cursor: pointer;
 
      &:hover {
        background-color: #fcfcfc;
        border-color: #cfcfcf;

        span.title-country {
          
          h3 {
            color: #666;
          }
        }
        span.capital-country {
          
          p {
            color: #999;
          }
        }
      }

      &:active, &:focus {
        outline: 0;
        border-color: #999;
      }
  
      
    }
  }
}

@include mobile {
  ul.list-countries {
    justify-content: center;
    
    li {
      flex-basis: 90%;
      margin: .5% 0;    
    }
  }
}

@include tablet {
  ul.list-countries {
    justify-content: center;
    
    li {
      flex-basis: 45%;
      margin: .5% .3%;
    }
  }
}

@include desktop {
  li {
    flex-basis: 23.5%;
    margin: .5% .3%;
  }
}