.wrapper {
  display: block;
  width:calc(100vw - 250px);
  margin: auto;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #000;
  padding: 20px 0;
  animation: anText .5s ease infinite;
}

@keyframes anText {
  0%, 100% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
}